
/* ------------------------------ */

.social {
  display: flex;
  justify-content: space-between;
  padding: var(--double-space);

  @media only screen and (max-width: 860px){
    display: block;
  }
}

.follow-me {
  width: 49.7%;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2rem;

  @media only screen and (max-width: 860px) {
  margin: 32px 32px 32px 0;
  padding: 32px;
  width: 100%;
  }
}

.featured-text {
  background-color: var(--bright-pink);
  margin-left: 16px;
  padding: 6.395348837%;
  width: 49.7%;
  margin-left: 1rem;
  margin-top: 2rem;

  p {
    color: var(--white-text);
  }

  @media only screen and (max-width: 860px) {
  margin-left: 0;
  padding: 32px;
  width: 100%;
  }
}
