/* ------------------------------ */
.social {
  display: flex;
  justify-content: space-between;
  padding: var(--double-space);
}

@media only screen and (max-width: 860px) {
  .social {
    display: block;
  }
}

.follow-me,
.featured-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin-top: var(--double-space);
  padding: var(--regular-space);
  width: 40%;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 860px) {
  .follow-me,
.featured-text {
    margin: var(--double-space) var(--double-space) var(--double-space) 0;
    padding: var(--double-space);
    width: 100%;
  }
}

.follow-me {
  border: 1px solid var(--pink);
}

.featured-text {
  border: 1px solid var(--purple);
}

.featured-text p {
  color: var(--white-text);
}
