/* About colors: */

/* 
border: #ffecb2;
heading: #01257b;
*/
#milestonesChart {
  height: 184px;
  width: 268px;
}

/* --------- img --------------------- */
img{
  width: auto;
  border-radius: 10px; /* Adjust the value as needed */
  border: 2px solid var(--pale-yellow);
  height:20rem;
}

/* --------- text --------------------- */
p {
  font-family: 'Cousine', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  span {
    display: inline-block;
  }
}

h3 {
  text-align: left;
  padding: 1rem 1rem 1rem 0;
  font-family: 'Cousine', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  color: #01257b;
}

h3::first-letter {
  font-size:3rem;
}

/* --------- wrappers --------------------- */
section {
  padding: 0;

}

.row {
  padding: 5rem 1rem;
  overflow: hidden;
  width: 100%;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  border: 2px solid var(--pale-yellow);
}

.text-wrapper {
  width: 40%;
  margin-left: 6%;
}

.text-wrapper.three {
  width: 30%;
  margin-left: 6%;
}

.text-wrapper.image {
height:100%;
display: flex;

}

/* --------- border --------------------- */
.dashed {
  border-top: 10px solid var(--pale-yellow);
  border-left: 10px solid var(--pale-yellow);
  border-bottom: 10px solid var(--pale-yellow);
}

/* --------- mobile view --------------------- */
@media only screen and (max-width: 1150px) {
  .row {
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
    margin-left: 0;
  }
  .text-wrapper.image {
    display: flex;
    justify-content: center;
  }
  img {
    width: auto;
    max-height:40vh;
  }
}