/* ------------------------------ */
.about-me {
  display: flex;
  padding: var(--double-space);
  margin-bottom: 5rem;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 860px) {
  .about-me {
    flex-direction: column;
  }
}

.about-me .description-block {
  display: flex;
  flex-direction: column;
}

.about-me .description-block h3 {
  color: var(--moss-green);
}

.about-me ul {
  padding: 0;
  margin: 0;
}

.about-me ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #f2de18;
}

.about-me ul li a {
  padding: 1rem;
  display: inline-block;
}

.about-me a {
  color: #f2de18;
}

.about-me .description-text {
  font-family: var(--font-family-serif2);
  font-size: 18px;
  font-weight: 400;
  color: var(--white-text);
  text-indent: 2em;
  margin: 0;
  margin-bottom: 2rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 860px) {
  .about-me .description-text {
    font-size: 16px;
  }
}

.about-me .description-text:last-of-type {
  margin-left: 0;
}

.about-me .description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin-left: var(--regular-space);
  margin-top: var(--double-space);
  padding: var(--regular-space);
  width: 40%;
  border: solid 0.15rem #f2de18;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .about-me .description-container {
    border-bottom: none;
  }
}

@media only screen and (max-width: 860px) {
  .about-me .description-container {
    margin: 32px 0 0 0;
    width: 100%;
  }
}

.about-me .description {
  align-self: center;
  position: relative;
  z-index: 1;
  width: 80%;
  left: -25px;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .about-me .description {
    width: 100%;
    left: 0;
  }
}

.about-me .portrait {
  margin: 1px 30px -53px -70px;
  width: 50%;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .about-me .portrait {
    width: 40%;
  }
}

@media only screen and (max-width: 860px) {
  .about-me .portrait {
    height: 500px;
    margin-left: 0;
    width: 100%;
  }
}

.about-me .portrait-image {
  display: none;
}
