<section id="about" class="dashed ">
  <div class="row">
    <div class="text-wrapper">
      <h3>{{jsonObj.scienceHeading}}</h3>
      <p>
        <span *ngFor='let item of jsonObj.science'>
          {{ item }}
        </span>
        <br>
      </p>
      <h3>{{jsonObj.passionHeading}}</h3>
      <p>
        <span *ngFor='let item of jsonObj.passion'>
          {{ item }}
        </span>
        <br>
      </p>
    </div>
    <div class="text-wrapper image">
      <img src="../assets/images/me.jpg">
    </div>
    <div class="text-wrapper">
      <h3>{{jsonObj.frontHeading}}</h3>
      <p>
        <span *ngFor='let item of jsonObj.front'>
          {{ item }}
        </span>
        <br>
      </p>
      <h3>{{jsonObj.hobbiesHeading}}</h3>
      <p>
        <span *ngFor='let item of jsonObj.hobbies'>
          {{ item }}
        </span>
        <br>
      </p>
    </div>
  </div>
</section>