/* About colors: */

/* 
border: #ffecb2;
heading: #01257b;
*/




/* --------- img --------------------- */
img {
  height: 100%;
  width:100%;
}

/* --------- text --------------------- */
p {
  font-family: 'Cousine', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  span {
    display: inline-block;
  }
}

h3 {
  text-align: left;
  padding: 1rem 1rem 1rem 0;
  font-family: 'Cousine', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  color: #01257b;
}

h3::first-letter {
  font-size:3rem;
}

/* --------- wrappers --------------------- */
section {
  padding: 5rem 0;
  margin-bottom: 10rem;
}

.row {
  overflow: hidden;
  width: 100%;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  padding: 0 1rem;
}

.text-wrapper {
  width: 30%;
  margin-left: 6%;
}

/* --------- border --------------------- */
.dashed {
  border-top: 10px solid #ffecb2;
  border-left: 10px solid #ffecb2;
  border-bottom: 10px solid #ffecb2;
}

/* --------- mobile view --------------------- */
@media only screen and (max-width: 1150px) {
  .row {
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
    margin-left: 0;
  }
  .text-wrapper.image {
    display: flex;
    justify-content: center;
  }
  img {
    width: auto;
    max-height:40vh;
  }
}