<section class="about-me" id="about">
    <div class="description-container">
        <div class="description">
            <h1 class="yellow">Hey! I’m Christina</h1>

            <div class="description-block">

                <h3>Who</h3>
                  <div [innerHTML]="htmlStr1" class="description-text"></div>

                <h3>Education</h3>
                  <div [innerHTML]="htmlStr2" class="description-text"></div>

                <h3>Hobbies</h3>
                  <div [innerHTML]="htmlStr3" class="description-text"></div>


                <ul>
                  <li>
                      <a href="https://app.pluralsight.com/profile/christina-bagh" alt="pluralsight profile" target="_blank" noreferrer>
                         Pluralsight profile
                      </a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="portrait">
        <img class="portrait-image" src="../assets/images/portrait.png" alt="Portrait of Christina Bögh"/>
    </div>
</section>

