.intro.main {
  display: flex;            /* Enable flexbox */
  flex-direction: column;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  margin: 0 auto;           /* Center the block horizontally */
  box-sizing: border-box;   /* Include padding in width */
}

.article-list {
  background-color: var(--pink);
  width:100%;
}

.has-image {
  display: flex;            /* Enable flexbox for the article */
  flex-direction: column;   /* Stack elements vertically */
  align-items: center;      /* Center content horizontally */
}

.article-header {
  width: 100%;              /* Ensure header takes full width of .has-image */
}

.article-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


.article-image::before {
  content: '';              /* Required for pseudo-elements */
  position: absolute;       /* Position absolutely within .article-image */
  bottom: 0;                   /* Align to the top */
  right: 0;                  /* Align to the left */
  width: 40%;              /* Full width */
  height: 30%;              /* Half height (adjust as needed) */
  background-color: rgba(255, 192, 203, 0.4); /* Your background color with opacity */
}

.article-image img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 40%;
}


.article-image img {
  max-width: 100%;          /* Ensure image is responsive */
  height: auto;             /* Maintain aspect ratio */
  display: block;           /* Remove bottom space for inline-block images */
}

.social{
  position: absolute;
  bottom: 0;
  right:0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.social ul {
  display: flex;
  flex-direction: row;
  background-color: var(--pink);
}

.social ul li {
  display: flex;
  flex-direction: row;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  margin: 1rem 0 1rem 0;
  width: 7rem;
  padding: 0;
}

.social ul li a {
  color:var(--white-text);
}

.social ul li:hover a {
  color:var(--black-text);
}

svg {
  flex-shrink: 0;
  margin-right: 6px;
  width: 0.7rem;
}