<section class="main-banner">

    <header>
      <h1>Portfolio</h1>
      <div class="logo-container">
      </div>

      <a href="#contact-form" class="contact-link">Let’s Connect</a>

    </header>

    <div class="main-banner-content">

      <h1> I slept.
        <br>
        Then I dreamt that I was asleep.
        <br>
        And my dreams showed me the answers.</h1>

      <p>What is vision, designing, coding and a huge amount of coffee
        without a hard problem so solve.
      </p>
    </div><!-- /end main-banner-content -->

    <a class="button" href="mailto:aschera@gmail.com">Email me
    </a>

    <div class="circle-container">
      <div class="big-circle">
        <img src="" alt="">
      </div>
    </div><!-- / end circle-container -->

  </section>
