<nav class="nav">
  <h1> Portfolio </h1>

  <div class="nav_top">

    <div class="nav_left">
      
        <h2> @Christina Bögh </h2>
      
    </div> <!-- end nav_left -->

    <div class="nav_right">

      <a class="word" *ngFor="let item of jsonObj.menu" href="#{{item}}" title="link to {{item}}">
        <!-- letters -->
        <span class="char" *ngFor="let letter of item.split('')" style="display: inline-block; opacity: 1;">
          {{letter}} 
        </span>
      </a> <!-- end word -->

      <div class="word" *ngFor="let item of external.link">
        <a class="char" [routerLink]="['/projects-overview']" target="" title="link to {{item}}">
          <span *ngFor="let letter of item.split('')" class="char" style="display: inline-block; opacity: 1;">
            {{letter}} 
          </span>
        </a>
      </div> <!-- end word -->

    </div> <!-- end nav_right -->

  </div> <!-- end nav_top -->
</nav>