.start {
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 865px){
  .start {
    padding: var(--double-space);
    height: 50vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.start .cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.start p {
  display:flex;
  padding:1rem;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .start {
      border:10px solid #fff
  }

  .start .cont {
      top: 30vh
  }

  .start p {
      font-size: 16px
  }
}

ul, li {
  color:rgb(31, 2, 2);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

li {
  text-align: center;

  background: #262626;
  color: #fff;
  padding: 0.625em 0.3125em;
  margin: 0.3125em 0.125em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 150ms,border-color 150ms,background-color 150ms;
  outline: 0 !important;
  text-decoration: none;
  cursor: pointer;

  &:hover, 
&:active {
  background: #fff;
  color: #262626;
}
}



.menu {
  bottom: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  


// ---------------------------------------------------------------- //

.waitingForConnection {
  animation: blinker 3.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

.waitingForConnection2 {
  animation: blinker2 5.6s cubic-bezier(1, 0, 0, 1) infinite alternate;  
}
@keyframes blinker2 { to { opacity: 0; } }

.waitingForConnection3 {
  animation: blinker3 7s ease-in-out infinite alternate;  
}
@keyframes blinker3 { to { opacity: 0; } }