<section class="recent-posts">

    <div class="recent-posts-header">

      <div class="star star-1">

      </div>
      <div class="star star-2">

      </div>
      <h1>Recent Work Projects</h1>
      <p>
        I’ve designed and built apps, products, and websites.
        Here’s a small selection of my latest work.<br>

        <!--
        <a href="" target="
        _blank">
          See more work on Dribbble
        </a>-->

      </p>
      <span> Coming soon :) </span>
    </div>
<!--
    <ul class="posts-container">
      <li>
        <a href="" target="_blank">
          <img class="posts-image" src="" alt="xxx">
          <h2>Heading</h2>
           <span class="primary-cta">View project on Dribbble</span>
        </a>
      </li>
    </ul>
  -->

  </section>