<section class="recent dashed " id="work">

  <div class="featured">

    <div class="title">
    <h3>Here you find my awesome work</h3>
    <h1><span class="fontawesome-star star"></span> 
      <span>Amazing projects and ideas</span> 
      <span class="fontawesome-star star"></span>
    </h1>
  </div>


    <main>
      <div class="table-wrapper" tabindex="0">
        <table >
          <thead>
            <tr>
              <th>Drink</th>
              <th>Emoji</th>
              <th>Calories</th>
              <th>Carbohydrates (g)</th>
              <th>Total Sugar (g)</th>
              <th>Protein (g)</th>
              <th>Total Fat (g)</th>
              <th>Total Fiber (g)</th>
              <th>Cholesterol (mg)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>milk</td>
              <td>🥛</td>
              <td class="numeric">149.0</td>
              <td class="numeric">11.7</td>
              <td class="numeric">12.3</td>
              <td class="numeric">7.7</td>
              <td class="numeric">8.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">24.4</td>
            </tr>
            <tr>
              <td>coffee</td>
              <td>☕️</td>
              <td class="numeric">2.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.3</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>green tea</td>
              <td>🍵</td>
              <td class="numeric">2.5</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.5</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>sake</td>
              <td>🍶</td>
              <td class="numeric">39.0</td>
              <td class="numeric">1.5</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.1</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>champagne</td>
              <td>🍾</td>
              <td class="numeric">89.0</td>
              <td class="numeric">1.6</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.4</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>red wine</td>
              <td>🍷</td>
              <td class="numeric">125.0</td>
              <td class="numeric">3.8</td>
              <td class="numeric">0.9</td>
              <td class="numeric">0.1</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>martini</td>
              <td>🍸</td>
              <td class="numeric">210.0</td>
              <td class="numeric">1.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>tropical drink</td>
              <td>🍹</td>
              <td class="numeric">245.0</td>
              <td class="numeric">32.0</td>
              <td class="numeric">31.5</td>
              <td class="numeric">0.6</td>
              <td class="numeric">2.7</td>
              <td class="numeric">0.4</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>beer</td>
              <td>🍺</td>
              <td class="numeric">153.0</td>
              <td class="numeric">12.6</td>
              <td class="numeric">0.0</td>
              <td class="numeric">1.6</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>whiskey</td>
              <td>🥃</td>
              <td class="numeric">70.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
            <tr>
              <td>soft drink</td>
              <td>🥤</td>
              <td class="numeric">151.0</td>
              <td class="numeric">38.9</td>
              <td class="numeric">38.9</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
              <td class="numeric">0.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      
    </main>
  
  </div>

</section>

