@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);


/* Recent colors: */

/* 
links: #3C74FD; var(--baby-blue)
*/


/* --------- wrappers --------------------- */

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.recent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 480px;
}

.featured {
  padding: 1rem;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-left: 10rem;
}

.dashed {
  border-top: 10px solid var(--baby-blue);
  border-bottom: 10px solid var(--baby-blue);
  border-left: 10px solid var(--baby-blue);
}

// ---------------------------- links ------------------------------------------ //
a.project-link {
  $linkcolor-hover: #000000;
  $linkcolor: #3C74FD;

  font-family: "Oswald", Sans-serif;
  font-weight: 200;
  letter-spacing: 0.1rem;
  color: $linkcolor;
  font-size: 1rem;
  text-shadow: 1px 1px 1px var(--baby-blue);
  /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#223AF5, Strength=1);
  /* IE<10 */

  &:hover {
    color: $linkcolor-hover;
    transition: all 0.1s ease-in-out;

    svg {
      fill: $linkcolor-hover;
      transition: all 0.1s ease-in-out;
    }

  }

  svg {
    fill: $linkcolor;
  }
}

// -------------------------- table -------------------------------------------- //

main {
  padding: 1em;
  margin-top: 20vh;
}

.table-wrapper {
  overflow: auto;
  max-width: 100%;
  background:
    linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

tr {
  border-bottom: 1px solid;
}

th {
  background-color: var(--baby-blue);
  color: #fff;
  white-space: nowrap;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}

.numeric {
  text-align: right;
}

#project-table tbody:nth-child(even) tr {
  background-color: rgb(60, 116, 253, 0.15);
}

#project-table tbody:nth-child(even) tr:nth-child(even) {
  background-color: #fff;
}

#project-table tbody:nth-child(odd) tr:nth-child(odd) {
  background-color: rgb(60, 116, 253, 0.15);
}

// -------------------------- text-------------------------------------------- //

p {
  text-align: right;
  margin-top: 1em;
  font-style: italic;
}

section.text {
  position: absolute;
  width: 100%;
  min-width: 800px;
  text-align: center;
  top: 50%;
  margin-top: -55px;
}

h1,
h3 {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1 {
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
  color: var(--baby-blue);
}

h1 span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: var(--baby-blue);
}

h3:before,
h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid var(--baby-blue);
  border-bottom: 2px solid var(--baby-blue);
}

h3:before {
  margin: 5px 0 0 -110px;
}

h3:after {
  margin: 5px 0 0 10px;
}

/* --------- mobile view --------------------- */
@media only screen and (max-width: 1150px) {
  h1 {font-size: 40px;}
  .title {margin-left: 2rem;}
  .not-mobile {display: none;}
}