/* ------------------------------ */
.recent-posts {
  color: #faf7eb;
  margin-top: 32px;
  padding: 88px 6.395348837% 32px 6.395348837%;
  position: relative;
}

.recent-posts-header {
  margin-bottom: 56px;
  text-align: center;
}

.posts-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .posts-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

img {
  display: block;
  opacity: 0.95;
  transition: all 0.1s ease-in-out;
  width: 100%;
  filter: url(#owltastic-images);
}
