@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);


/* Recent colors: */

/* 

*/




/* --------- xxx --------------------- */


/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.recent {
  display: flex;  
  justify-content: center;
  flex-direction: row;
}

.featured {
  padding: 1rem;
  margin-top:10vh;
  display: flex;  
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-left: 10rem; 
}

.dashed {
  border-top: 10px solid var(--baby-blue);
  border-bottom: 10px solid var(--baby-blue);
  border-left: 10px solid var(--baby-blue);
}

section.text {
  position: absolute;
  width: 100%;
  min-width: 800px;
  text-align: center;
  top: 50%;
  margin-top: -55px;
}

h1, h3 {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
  color: var(--baby-blue);
}

h1 span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 20px;
}

h3 {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin: 0 0 0 1rem; 
  position: relative;
  color: var(--baby-blue);
}

h3:before, h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid var(--baby-blue);
  border-bottom: 2px solid var(--baby-blue);
}

h3:before {
  margin: 5px 0 0 -110px;
}

h3:after {
  margin: 5px 0 0 10px;
}

// ---------------------------------------------------------------------- //

main {
  padding: 1em;
  margin-top: 20vh; 
}

.table-wrapper {
  overflow: auto;
	max-width: 100%;
	background:
		linear-gradient(to right, white 30%, rgba(255,255,255,0)),
		linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
	background-attachment: local, local, scroll, scroll;
}

tr {
  border-bottom: 1px solid;
}

th {
  background-color: var(--baby-blue);
  color: #fff;
  white-space: nowrap;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}

.numeric {
  text-align: right;
}

p {
  text-align: right;
  margin-top: 1em;
  font-style: italic;
}