<section class="recent" id="contact-form">

  <div class="featured">
    <h1 class="purple">Current Projects</h1>
      <p>
        &#9734;
         Movie Database
      <a href="https://a-long-time-ago.netlify.app/" target="_blank" noreferrer>link</a>
      <details>
        <summary>
          Details:
        </summary>
        This is an React app. It connects to a REST API. Data is filtered and searched.
        <br>
        TODO:
        <ul>
          <li>
            I have to style this app. Make it responsive and nicer looking.
          </li>
          <li>
            I want to add a setting to display or hide data. There is data from the API that is not shown right now.
          </li>
          <li>
            I want to add a section to visualize the data with a force layout graph.
          </li>
        </ul>


      </details>
      </p>
<br>
      <p>
        &#9734;
         Portfolio (no link yet, see a screenshot under details)
      <details>
        <summary>
          Details:
        </summary>
        This is an React app. It has a router and several pages.
        <img src="../assets/images/miquel.png" height="300px" title="Miquels portfolio">
        <br>
        TODO:
        <ul>
          <li>
            I have to add content to many places.
          </li>
          <li>
            I need to connect the data to a backend - a database, excel sheet or something nontechnical people can edit.
          </li>
          <li>
            I need to add tests and finish styling. Design is work in progress.
          </li>
        </ul>


      </details>
      </p>
  </div>

</section>

