@import '../../assets/styles/_variables.scss';

// ----------------------------------------------------- //
// --------------- Courses Component -- -----------------//
// ----------------------------------------------------- //

.courses {
    background-color: var(--pale-pink);
    color: var(--black-text);
    margin-top: var(--double-space);
    padding: 88px 6.395348837% 32px 6.395348837%;
    position: relative;
  }

  .recent-posts-header {
    margin-bottom: var(--double-space);
    text-align: center;
  }

  .course-description {
    margin: var(--double-space) auto;
    width: 61.62790698%;

    @media only screen and (max-width: 1150px){
     width: 75%;
    }

  }

  .posts-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding:0;
    }
  }

  .course-item {
    align-self: stretch;
    background: var(--dark-blue);
    margin: 0 0 88px 0;
    position: relative;
    width: 31.22362869%;

    @media only screen and (max-width: 1024px){
      margin: var(--double-space) auto;
      max-width: 700px;
      width: 100%;
    }
  }

  .course-img {
    display: block;
    opacity: 0.95;
    transition: all 0.1s ease-in-out;
    width: 100%;
    filter: url(#owltastic-images);
}
