  
  <!-- this is the first image and intro text-->
  <app-main></app-main>

  <!-- bio info -->
  <app-about></app-about>

  <img class ="divier-img" src="../assets/images/2.divider.png">

  <!-- social media and a gallery -->
  <app-social></app-social>

    <!-- info about my work-->
    <app-recent></app-recent>

  <!-- info about my education
  <app-course></app-course>-->

  <!-- info about my education
  <app-design></app-design>-->

  

  <footer>
    <div class="tagline">
      <h2><span></span></h2>
    </div>

    <p>© 2022<br> Christina Bögh</p>
  </footer>
