@import url(../assets/styles/_variables.scss);
footer {
  color: var(--color-5);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: var(--double-space);
  padding: var(--double-space) 6.395348837% var(--double-space);
}

@media only screen and (max-width: 860px) {
  footer {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 860px) {
  footer, footer .tagline, footer p {
    display: block;
    text-align: center;
  }
}

.divider {
  height: 15rem;
}

.divider.small {
  height: 1rem;
}
