<div class="header-container">
  <div class="title">
    <h1>
      CHRISTINA B&Ouml;GH
    </h1>
  </div>
</div>

<div class="content house-bg">

  <div class="portrait">
    <img src="../assets/images/portrait.png">
  </div>

<!--
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Education</mat-card-title>
      <mat-card-subtitle>Schools and courses</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/0/0c/Seal_of_UoPeople.jpg" alt="UoPeople">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
   -->

  <footer class="">
    <div class="icons-container tree-bg">

      <a href="https://www.facebook.com/christina.bogh/" target="_blank" title="Facebook" alt="Facebook">
        <div class="icon icon-facebook"></div>
      </a>

      <a href="https://www.linkedin.com/in/christina-boegh" target="_blank" title="Linkedin" alt="Linkedin">
        <div class="icon icon-linkedin"></div>
      </a>

      <a href="mailto:aschera@gmail.com?subject=Message from the portfolio&body=Hello." target="_blank"
        rel="noopener noreferrer" title="Email" alt="Email">
        <div class="icon icon-last icon-email"></div>
      </a>

      <p class="copyright-info">
        Copyright &copy; 2021 Christina B&ouml;gh
      </p>

    </div>
  </footer>

</div>
