// ----------------------------------------------------- //
// --------------- IMAGES and ICONS ---------------------//
// ----------------------------------------------------- //

.icon
{
	position: relative;
	width: $icon-width;
	height: $icon-width;
	display: inline-block;
}

.tree-bg,,
.house-bg,
.icon-email,
.icon-facebook,
.icon-linkedin {
	background-repeat: no-repeat;
}

.main-banner {
  background: var(--dark-purple);
}

.follow-me {
  background-color: #FCF5E4;
  //background-image: url(../images/elements.png);
  //background-repeat: no-repeat;
  background-size: 50% 100%;
}

.featured-text {
  //background: var(--bright-yellow) url(../images/follow-bg.png);
  background-position: 50%;
}

.description-container {
  background-color: var(--bright-yellow);
  background-image: url(../images/line1.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.portrait {
  background: url(../images/portrait.png) center;
  background-size: cover;
}

.recent-posts {
  //background: url(../images/recent-posts@2x.jpg) no-repeat;
  background-size: cover;
}

.design-talks,
.logo-container {
 // background: url(../images/tiny-bird.png) bottom right no-repeat;
  background-size: 161px;
}

footer {
  //background: url(../images/bg-star-chart.jpg) no-repeat;
  background-size: 100%;
}

.house-bg
{
	//background-image: url(../images/green-room1.jpg);
background-size:cover;
}

.tree-bg
{
	//background-image: url(../images/tree.bg.gif);
}

