/* -------------------------------H1--------------------------- */
.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.25em;
  padding-top: 16px;
  margin-bottom: 24px;
  margin-left: 6rem;
}

@media only screen and (max-width: 500px) {
  .mat-h1,
.mat-headline,
.mat-typography h1 {
    font-size: 28px;
  }
}

h1.yellow {
  color: var(--dark-purple);
  background-color: var(--white-text);
  padding: 0.5rem;
  text-align: center;
}

h1.yellow::after {
  color: #f2de18;
  content: '\263C';
}

h1.bright {
  color: var(--white-text);
  padding: 0.5rem 0;
  text-align: left;
  margin: 0;
}

h1.dark-purple {
  color: var(--white-text);
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

h1.dark-purple::after {
  color: var(--bright-yellow);
}

h1.orange {
  color: var(--orange);
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

h1.orange span {
  color: var(--white-text);
}

h1.pink {
  color: var(--pink);
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

h1.pink span {
  color: var(--white-text);
}

/* -------------------------------H2--------------------------- */
h2 {
  font-size: 32px;
  margin: 32px 0 8px 0;
  text-align: center;
  height: 100%;
}

h2.orange {
  color: var(--orange);
  opacity: 0.6;
  padding: 0.5rem;
  margin: 0;
  padding-bottom: -12rem;
  position: relative;
  bottom: 25px;
  right: -170px;
  display: inline-block;
}

/* -------------------------------p--------------------------- */
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4545454545em;
  color: var(--black-text);
  letter-spacing: 0.075em;
  line-height: 1.5em;
  flex-shrink: 0;
}

/* -------------------------------ul--------------------------- */
ul.narrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: 8px;
  padding: 0;
  width: 50%;
}

ul.narrow li {
  width: 8rem;
}

@media only screen and (max-width: 500px) {
  ul.narrow {
    margin: 16px 0;
  }
}

ul.wide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 8px;
  padding: 0;
  width: 100%;
}

ul.wide li {
  width: 100%;
}

ul.wide li p {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  ul.wide {
    margin: 16px 0;
  }
}

/* -------------------------------li--------------------------- */
li {
  margin: 0 1rem 1rem 0;
  width: 8rem;
  transition: all 0.1s ease-in-out;
}

li:hover a {
  color: var(--bright-pink);
  transition: all 0.1s ease-in-out;
}

li:hover svg {
  fill: var(--bright-pink);
  transition: all 0.1s ease-in-out;
}

li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  color: var(--pink);
}

/* -------------------------------a--------------------------- */
a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* -------------------------------span--------------------------- */
span.yellow {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.075em;
  line-height: 1.5em;
  background: var(--bright-yellow);
  color: var(--dark-purple);
  display: block;
  line-height: 1.5em;
  margin-top: 64px;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 16px 32px;
  text-align: center;
}

/* -------------------------------img--------------------------- */
img {
  max-width: 100%;
}

/* --------------------------------svg-------------------------- */
svg {
  flex-shrink: 0;
  fill: var(--pink);
  margin-right: 6px;
  width: 32px;
}

svg #youtube-color {
  fill: var(--pink);
}

svg #youtube-color:hover {
  fill: var(--bright-pink);
  transition: all 0.1s ease-in-out;
}

svg:hover {
  fill: var(--bright-pink);
  transition: all 0.1s ease-in-out;
}
