
  <section class="design-talks">
    <div class="design-talks-content">
      <h1>Recent Articles</h1>
      <p>
        I write a lot of essays and articles during my studies,
        and also as a hobby for the things that I want to learn.
        Learning is my biggest passion.
        Writing keeps me remmbering and structuring my thoughts.
      </p>
      <div class="events">

        <ul>
          <li>
            <a href="" target="_blank">
              <h4>R - Subsetting</h4> <span>(not published yet) </span>
             </a>
          </li>

          <li>
            <a href="" target="_blank">
              <h4>The Oxford Happiness Questionaire</h4> <span>(not published yet) </span>
             </a>
          </li>

        </ul>


    </div>
      <a href="" target="_blank">See all on Medium
      </a>
    </div>

  </section>
