/* ------------------------------ */
.design-talks {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: var(--double-space);
}

.design-talks-content {
  background-color: var(--dark-moss-green);
  padding: 1rem;
  width: 70.66666667%;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 860px) {
  .design-talks-content {
    width: 100%;
  }
}

.intro {
  margin-bottom: 2rem;
  color: var(--white-text);
}

.talks-circle {
  width: 48.8372093%;
  left: -25.58139535%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.img-id {
  margin-right: .5rem;
}

a {
  transition: all 0.1s ease-in-out;
}

a p {
  transition: all 0.1s ease-in-out;
  border-bottom: solid 0.1rem var(--white-text);
  color: var(--white-text);
}

a:hover p {
  border-bottom: solid 0.1rem var(--orange);
  color: var(--orange);
}
