<section class="design-talks">

  <div class="design-talks-content">
    <h1 class="bright">
      {{title}}
    </h1>
    <p class="intro">
      {{ intro }}
    </p>
    <div class="events">
      <ul class="wide">
        <li *ngFor="let fruit of list">
          <a href="{{ fruit.link }}" target="_blank" alt="link to post">
            <img src="../../assets/images/{{fruit.id}}.png" alt="icon id " class="img-id">
            <p>
              {{ fruit.title }}
            </p>
          </a>
        </li>
      </ul>
    </div>
    <a href="{{ medium }}" target="_blank">See all on Medium </a>
  </div>

</section>
