<app-main></app-main>

<app-about></app-about>

<app-social></app-social>

<app-recent></app-recent>

<footer>
  <div class="tagline">
    <h2>
      <span></span>
    </h2>
  </div>

  <div class="footer-wrap"
    style=" display:flex; justify-content:center; padding-bottom: 24px; padding-top: 16px;background-color: #000000!important;">
    <div class="text_inner" style="color:white;max-width: 90%; width: 100%;
    margin-bottom: 30px;     position: relative;
    z-index: 2;
    min-height: 1px;     text-align: center;
">© 2024 Christina Bögh, All Rights Reserved</div>
  </div>
</footer>