.word,
span,
span.char {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.word,
span,
span.char {
    font-size: small;
}

.word {
    display: flex;
    justify-content: center;
    margin-left: var(--regular-space);
    position: relative;
    /* Needed for z-index stacking context */
}

.char {
    display: inline-block;
    opacity: 1;
    text-transform: uppercase;
    transition: all 0.2s;

    /* Transition for instant full word highlight */
    animation: colorChange 8s infinite;
    /* 8s for full cycle, adjust as needed */
}

@keyframes colorChange {

    0%,
    25% {
        color: var(--bright-pink);
        background-color: var(--white-text);
        opacity: 0.7;
    }

    50%,
    75% {
        color: var(--white-text);
        background-color: rgba(172 5 62) 0.7;
    }

    100% {
        color: var(--bright-pink);
        background-color: var(--white-text);
        opacity: 0.7;
    }
}

/* Ensure the entire word remains highlighted after the animation */
.word .char {
    color: var(--pink);
}

/* Delay each character's animation */
.word .char:nth-child(1) {
    animation-delay: 0s;
    /* No delay for the first character */
}

.word .char:nth-child(2) {
    animation-delay: 0.1s;
    /* Delay for the second character */
}

.word .char:nth-child(3) {
    animation-delay: 0.2s;
    /* Delay for the third character */
}

.word .char:nth-child(4) {
    animation-delay: 0.3s;
    /* Delay for the fourth character */
}

.word .char:nth-child(5) {
    animation-delay: 0.4s;
    /* Delay for the fifth character */
}

.word .char:nth-child(6) {
    animation-delay: 0.5s;
    /* Delay for the sixth character */
}

.word .char:nth-child(7) {
    animation-delay: 0.6s;
    /* Delay for the seventh character */
}

.word .char:nth-child(8) {
    animation-delay: 0.7s;
    /* Delay for the eighth character */
}

.word .char:nth-child(9) {
    animation-delay: 0.8s;
    /* Delay for the ninth character */
}

.word .char:nth-child(10) {
    animation-delay: 0.9s;
    /* Delay for the ninth character */
}

.word .char:nth-child(11) {
    animation-delay: 0.10s;
    /* Delay for the ninth character */
}

.word .char:nth-child(12) {
    animation-delay: 0.11s;
    /* Delay for the ninth character */
}

.word .char:nth-child(13) {
    animation-delay: 0.12s;
    /* Delay for the ninth character */
}

.word .char:nth-child(14) {
    animation-delay: 0.13s;
    /* Delay for the ninth character */
}

.word .char:nth-child(15) {
    animation-delay: 0.14s;
    /* Delay for the ninth character */
}

.word .char:nth-child(16) {
    animation-delay: 0.15s;
    /* Delay for the ninth character */
}

.word .char:nth-child(17) {
    animation-delay: 0.16s;
    /* Delay for the ninth character */
}

.word .char:nth-child(18) {
    animation-delay: 0.17s;
    /* Delay for the ninth character */
}