

.button {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    background: var(--bright-yellow);
    border: none;
    border-radius: $border-radius;
    color: var(--dark-purple);
    padding: 12px 32px 14px 32px;
    text-align: center;
    max-width: $button-width;
    width: 100%;
    cursor: pointer;
    outline: none;

    @media only screen and (max-width: 500px) {
      font-size: $regular-space;
      padding: 12px $regular-space;
    }
  }
