// ----------------------------------------------------- //
// --------------- IMAGES and ICONS ---------------------//
// ----------------------------------------------------- //

.icon
{
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.tree-bg,,
.house-bg,
.icon-email,
.icon-facebook,
.icon-linkedin {
	background-repeat: no-repeat;
}

.main-banner {
  background: #214261 url(../images/main-banner-bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.follow-me {
  background: #214261 url(../images/contact-form@2x.jpg) no-repeat;
  background-size: cover;
}

.featured-text {
  background: #DBBD7F url(../images/follow-bg.png);
  background-position: 50%;
}

.description-container {
  background-color: #DBBD7F;
  background-image: url(../images/description-moon-small.png);
  background-position: left top;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.portrait {
  background: url(../images/portrait.png) center;
  background-size: cover;
}

.house-bg
{
	background-image: url(../images/green-room1.jpg);
background-size:cover;
}

.tree-bg
{
	background-image: url(../images/tree.bg.gif);
}


.icon-email
{
	background-image: url(../images/icon-email.png);
}

.icon-facebook
{
	background-image: url(../images/icon-facebook.png);
}


.icon-linkedin
{
	background-image: url(../images/icon-linkedin.png);
}
