// ----------------------------------------------------- //
// --------------- IMAGES and ICONS ---------------------//
// ----------------------------------------------------- //

.icon
{
	position: relative;
	width: $icon-width;
	height: $icon-width;
	display: inline-block;
}

.tree-bg,,
.house-bg,
.icon-email,
.icon-facebook,
.icon-linkedin {
	background-repeat: no-repeat;
}

.main-banner {
  background: var(--dark-purple);
}

.featured-text {
  background-position: 50%;
}

.portrait {
  background: url(../images/portrait.png) center;
  background-size: cover;
}

.recent-posts {
  background-size: cover;
}

.design-talks,
.logo-container {
  background-size: 161px;
}

footer {
  background-size: 100%;
}
