/* -------------------------------H1--------------------------- */
.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-family:  var(--font-family-serif1);
  font-size: 44px;
  font-weight: 600;
  line-height: 1.25em;
  padding-top: 16px;
  margin-bottom: 24px;
  margin-left: 6rem;

  @media only screen and (max-width: 500px) {
    font-size: 28px;
  }
}

.pinkglow {
  font-family: 'Parisienne', cursive;
  color: var(--bright-pink);
  font-size: 3rem;
  display: block;
  width: 100%;
  text-shadow: 1px 2px 2px #fff; /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=1); /* IE<10 */
  /* Safari */
  -webkit-transform: rotate(-9deg);
  /* Firefox */
  -moz-transform: rotate(-9deg);
  /* IE */
  -ms-transform: rotate(-9deg);
  /* Opera */
  -o-transform: rotate(-9deg);
  /* Standard */
  transform: rotate(-9deg);
  bottom: 40%;
  position: relative;
}

.yellowglow {
  font-family: "Parisienne", cursive;
  color: var(--yellow);
  font-size: 1.5rem;
  text-align: right;
  top: 3vw;
  position: relative;
  font-size: 3rem;
  text-shadow: 1px 1px 1px var(--bright-pink); /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#FD0137,Strength=1); /* IE<10 */
}

.purpleglow {
  font-family: 'Parisienne', cursive;
  color:  var(--dark-purple);
  font-size: 3rem;

  display: block;
  text-align: left;
  width: 100%;
  text-shadow: 1px 1px 1px var(--white-text); /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#FD0137,Strength=1); /* IE<10 */

  span {
    font-weight: bold;
  }
}

h1.yellow {
  font-family: 'Press Start 2P', cursive;
  color: var(--bright-yellow);
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

h1.bright {
  font-family:  var(--font-family-serif1);
  color: var(--white-text);
  padding: 0.5rem 0;
  text-align: left;
  margin: 0;
}

h1.dark-purple {
  font-family:  var(--font-family-serif1);
  color:  var(--white-text);
  padding: 0.5rem;
  margin:0;
  text-align: center;

  &::after{
    color: var(--bright-yellow);
  }
}

h1.orange {
  font-family:  var(--font-family-serif1);
  color:  var(--orange);
  padding: 0.5rem;
  margin:0;
  text-align: center;

  span {
    color:  var(--white-text);
  }

}

h1.pink {
  font-family:  var(--font-family-serif1);
  color:  var(--pink);
  padding: 0.5rem;
  margin:0;
  text-align: center;

  span {
    color:  var(--white-text);
  }

}

/* -------------------------------H2--------------------------- */
h2 {
  font-family:  var(--font-family-serif2);
  font-size: 16px;
  margin: 32px 0 8px 0;
  text-align: center;
}

h2.orange {
  font-family:  var(--font-family-serif2);
  color:  var(--orange);
  opacity: 0.6;
  padding: 0.5rem;
  margin: 0;
  padding-bottom: -12rem;
  position: relative;
  bottom: 25px;
  right: -170px;
  display: inline-block;
}
/* -------------------------------p--------------------------- */
p {
  font-family:  var(--font-family-serif1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4545454545em;
  color: var(--black-text);
  letter-spacing: 0.075em;
  line-height: 1.5em;
  flex-shrink: 0;
}

/* -------------------------------a--------------------------- */

a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  }

/* --------------------------------svg-------------------------- */
svg {
  flex-shrink: 0;

  margin-right: 6px;
  width: 32px;

  #youtube-color {
    &:hover {
      transition: all 0.1s ease-in-out;
    }
  }

  &:hover {
    transition: all 0.1s ease-in-out;
  }
}

/* -------------------------------ul--------------------------- */
ul.narrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: 8px;
  padding: 0;
  width: 50%;

  li {
    width:8rem;
  }

  @media only screen and (max-width: 500px) {
    margin: 16px 0;
  }
}

ul.wide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 8px;
  padding: 0;
  width: 100%;

  li {
    width:100%;

    p {
      margin: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    margin: 16px 0;
  }
}
/* -------------------------------li--------------------------- */
li {
  margin: 0 1rem 1rem 0;
  width:8rem;
  transition: all 0.1s ease-in-out;

  a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
}



/* -------------------------------span--------------------------- */
span.yellow {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.075em;
  line-height: 1.5em;
  background: var(--bright-yellow);
  color: var(--dark-purple);
  display: block;
  line-height: 1.5em;
  margin-top: 64px;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 16px 32px;
  text-align: center;
}
/* -------------------------------img--------------------------- */
img {
  max-width: 100%;
}

