$font-family: " 'Vollkorn', serif ";

$half-space: 0.5rem;
$regular-space: 1rem;

$icon-width: 50px;

$button-width: 360px;

$border-radius: 50%;

:root {
  --double-space: 2rem;
  --regular-space: 1rem;

  --black-text: #0B0B07;
  --white-text:  #FFFFFF;
  --yellow: #FAFA2A;
  --bright-yellow: #FFFF02;
  --pale-yellow: #ebf28e;
  --moss-green: #AAAA39;
  --dark-moss-green: #5A5A2D;
  --orange:rgb(274, 195, 136);
  --baby-blue: #3C74FD;
  --blue: #223AF5;
  --dark-blue: #303FAC;
  --purple: #313975;
  --dark-purple: #23263E;
  --pink: #C648C6;
  --pale-pink: #9D344B;
  --bright-pink: #FD0137;
  --brown: #542A33;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-serif1: 'Caladea', serif;
  --font-family-serif2: 'Jacques Francois', serif;
}


